body {
    background-image: url(../images/mirridim.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
}

li {
    color: rgb(167, 23, 102);   
}

h1 {    
    color: rgb(167, 23, 102);
    font-family: Verdana;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    background-color: rgb(165, 99, 154)
}

nav {
    color: rgb(116, 9, 92);
    font-family: Verdana;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    background-color: rgb(211, 102, 193)   
} 


img {
    border-width: 5px;
    border-style: solid;
    border-color: silver;
}

.mirriflower {
    width: 500px;
}
.kittenpic {
    width: 400px;
}

.text-infokittens {
    color: rgb(43, 4, 33);
    font-family: Verdana;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    background-color: rgb(214, 127, 207)
}

.info {
    font-size: 16px;
    font-weight: 600;
    color: rgb(31, 4, 19);  
    text-align: center;  
}

.weblänk {
    font-size: 18px;
    font-weight: 600;
    color: rgb(245, 26, 146);  
    text-align: center;  
}